{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for s in user_portfolio %}
    <tr>
      <th scope="row">{{ s["ticker"] }}</th>
      <td>{{ s["ticker"] }}</td>
      <td>{{ s["SUM(amount)"] }}</td>
      <td>${{ s["price"] }}</td>
      <td>
        ${{ (s["price"] * s["SUM(amount)"]) | round(precision=2, method='common') }}
      </td>
    </tr>
    {% endfor %}
    <tfoot>
      <td>Cash</td>
      <td>${{ cash | round(precision=2, method='common') }}</td>
    </tfoot>
  </tbody>
</table>
{% endblock %}
