{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">TOTAL COST</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">NFLX</th>
      <td>Netflix Inc</td>
      <td>2</td>
      <td>$450</td>
      <td>$900</td>
    </tr>
    <tr>
      <th scope="row">FB</th>
      <td>Facebook</td>
      <td>2</td>
      <td>$280</td>
      <td>$560</td>
    </tr>
    <tr>
      <th scope="row">GOOG</th>
      <td>Google</td>
      <td>1</td>
      <td>$170</td>
      <td>$170</td>
    </tr>
  </tbody>
</table>
{% endblock %}
